<!-- <div class="headerContainer">
  <h1><b>תור - פון</b></h1>
  <h2>קל להתפרסם! קל לקבוע תור!</h2>
</div> -->
<div class="headerContainer" >
  <img mat-card-image src="../../../assets/logo/logo.jpg" style="height: 150px; width: 250px;" >
  <div class="card-body" style="text-align: center;">
   <div class="otto">
           <h1><b>תור - פון</b></h1>
           <h2>קל להתפרסם! קל לקבוע תור!</h2>
          </div>
          <div class="example-button-container">
            <button mat-mini-fab routerLink="/login" >
              <mat-icon>logout</mat-icon>
            </button>
          </div>
  </div>
</div>
