<h1>Statistics</h1>
<chart style="width: 300px;height: 500px;"[type]="type" [data]="data" [options]="options"></chart>
<chart style="width: 300px;height: 500px;" type="bar" [data]="data" [options]="options"></chart>

<!-- 
<div class="wrap-all-statistic container">
  <div class="felx">
      <div class="pie">
          <h1>Your Companies:</h1>
          <chart *ngIf="companies.length>0" [type]="OneType" [data]="OneData" [options]="OneOptions"></chart>
      </div>
      <div  class="pie">
          <h1> You VS other:</h1>
          <chart *ngIf="threeShow" [type]="ThreeType" [data]="ThreeData" [options]="ThreeOptions"></chart>
      </div>
  </div>
  <div class="bar">
      <h1>Your weekly days report:</h1>
      <chart  *ngIf="companies.length>0" [type]="TwoType" [data]="TwoData" [options]="TwoOptions"></chart>
  </div> -->