<div style="display: flex; justify-content: space-around; padding-top: 100px">
  <div>
    <h2>התפלגות התורים שנקבעו לפי ערים</h2>
    <chart
      type="bar"
      [data]="data1"
      [options]="options"
      style="width: 100%; height: 21rem"
    ></chart>
  </div>
  <div>
    <h2>מס' המומחים במערכת בקטגוריות השונות</h2>
    <chart
      type="pie"
      [data]="data"
      [options]="options"
      style="width: 100%; height: 21rem"
    ></chart>
  </div>
  <div>
    <h2>התפלגות התורים שנקבעו לפי טווח גילאים</h2>
    <chart
      type="line"
      [data]="data2"
      [options]="options"
      style="width: 100%; height: 21rem"
    ></chart>
  </div>
</div>
<!-- pie, line, bar -->
