ddddddddddddddddddddddddddddddddddddddddddddhhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstdddddd
hhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstoooooooooooooooooooooooooooooooooooooooooooooooooo
cccccccccccccccccccccccccccccccccccchhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstcccccccccccccc
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvhhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstvvvvvvvvvvvvvvvvvvvvv
uuuuuuuuuuuuuuuuuuuuuuuuuuuuhhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstuuuuuuuuuuuuuuuuuuuuuu
eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeehhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrsteeeeeeeeeeeeeeeee
bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbhhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstbbbbbbbbbbbbbbbb
fffffffffffffffffffffffffffffhhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstfffffffffffffffffffff
gggggggggggggggggggghhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstgggggggggggggggggggggggggggggg
hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrsthhhhhhhhhhhhhhhhhhhhhhh
jjjjjjjjjjjjjjjjjjjjjjjhhhhhhhhhhhhhhhhhhhhhhhkll;'Abcdefghijklmnopqrstjjjjjjjjjjjjjjjjjjjjjjjjjjj
kkkkkkkkkkkkkkkkkkkkkkkhhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstkkkkkkkkkkkkkkkkkkkkkkkkkkk
zzzzzzzzzzzzzzzzzzzzzzzzzzzhhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstzzzzzzzzzzzzzzzzzzzzzzz
yyyyyyyyyyyyyyyyyyyyhhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
nnnnnnnnnnnnnnnnnnnnnnnhhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstnnnnnnnnnnnnnnnnnnnnnnnnnnn
aaaaaaaaaaaaaaaaaaaaaaahhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstaaaaaaaaaaaaaaaaaaaaaaaaaaa
ppppppppphhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstppppppppppppppppppppppppppppppppppppppppp
qqqqqqqqqqqqqqqqqqqqqqqhhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstqqqqqqqqqqqqqqqqqqqqqqqqqqq
rrrrrrrrrrrrrrrrrrrrrrrrrhhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstrrrrrrrrrrrrrrrrrrrrrrrrr
ssssssssssssssssssssssssssssshhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstsssssssssssssssssssss
ttttttttttttttttttttttttttttthhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstttttttttttttttttttttt
lllllllllllllllllllllllllllhhhhhhhhhhhhhhhhhhhhhhhkll;'vabcdefghijklmnopqrstlllllllllllllllllllllll
wwwwwwwwwwwwwwwwwwwwwwwwwwhhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstwwwwwwwwwwwwwwwwwwwwwwww
xxxxxxxxxxxxxxxxxxxxxxxxxxxhhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstxxxxxxxxxxxxxxxxxxxxxxx
mmmmmmmmmmmmmmmmmmmmmmmmmmmhhhhhhhhhhhhhhhhhhhhhhhkll;'abcdefghijklmnopqrstmmmmmmmmmmmmmmmmmmmmmmm

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="fields">
    <mat-form-field>
      <mat-label> שם משתמש </mat-label>
      <input matInput type="text" formControlName="email" />
      <button
        *ngIf="email?.value"
        matPrefix
        mat-icon-button
        aria-label="Clear"
        (click)="email?.setValue(email.value)"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error
        *ngIf="email?.hasError('email') && !email?.hasError('required')"
      >
        הכנס בבקשה כתובת מייל תקינה
      </mat-error>
      <mat-error *ngIf="email?.hasError('required')">
        שדה <strong>חובה</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> סיסמא </mat-label>
      <input matInput type="password" formControlName="password" />
      <button
        *ngIf="password?.value"
        matPrefix
        mat-icon-button
        aria-label="Clear"
        (click)="password.setValue(password.value)"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="password?.hasError('minlength')">
        ססמא בת 9 תוים לפחות
      </mat-error>
      <mat-error *ngIf="password?.hasError('required')">
        שדה <strong>חובה</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> שם פרטי </mat-label>
      <input matInput type="text" formControlName="firstName" />
      <button
        *ngIf="firstName?.value"
        matPrefix
        mat-icon-button
        aria-label="Clear"
        (click)="firstName?.setValue(firstName.value)"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="firstName?.hasError('required')">
        שדה <strong>חובה</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> שם משפחה </mat-label>
      <input matInput type="text" formControlName="lastName" />
      <button
        *ngIf="lastName?.value"
        matPrefix
        mat-icon-button
        aria-label="Clear"
        (click)="lastName?.setValue(lastName.value)"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="lastName?.hasError('required')">
        שדה <strong>חובה</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> תעודת זהות </mat-label>
      <input matInput type="text" formControlName="tz" />
      <button
        *ngIf="tz?.value"
        matPrefix
        mat-icon-button
        aria-label="Clear"
        (click)="tz?.setValue(tz.value)"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="tz?.hasError('required')">
        שדה <strong>חובה</strong>
      </mat-error>
      <mat-error *ngIf="tz?.hasError('minlength')">
        תעודת זהות עם תשע ספרות
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> כתובת </mat-label>
      <input matInput type="text" formControlName="adress" />
      <button
        *ngIf="adress?.value"
        matPrefix
        mat-icon-button
        aria-label="Clear"
        (click)="adress?.setValue(adress.value)"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="adress?.hasError('required')">
        שדה <strong>חובה</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> טלפון </mat-label>
      <input matInput type="text" formControlName="phone" />
      <button
        *ngIf="phone?.value"
        matPrefix
        mat-icon-button
        aria-label="Clear"
        (click)="phone?.setValue(phone.value)"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="phone?.hasError('required')">
        שדה <strong>חובה</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <button
    class="submitBtn"
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!form?.valid"
  >
    הרשמה
  </button>
</form>
