<!-- <div class="headerTxt">
  <p>
    אם הנך רשום במערכת כל שעליך לעשות הוא להכניס את שם המשתמש והסיסמה שלך ואתה
    בפנים!
  </p>
</div> -->

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" style="height: 80%;">
  <div class="fields">
    
    <mat-form-field>
      <mat-label> שם משתמש </mat-label>
      <mat-icon matPrefix style="margin-left: 5px; vertical-align: middle;">email</mat-icon>
      <input matInput type="text" formControlName="userName" />
      <button *ngIf="userName.value" matSuffix mat-icon-button aria-label="Clear" (click)="userName.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="userName.hasError('email') && !userName.hasError('required')">
        הכנס בבקשה כתובת מייל תקינה
      </mat-error>
      <mat-error *ngIf="userName.hasError('required')">
        שדה <strong>חובה</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>  
      <mat-label> סיסמא </mat-label>
      <mat-icon matPrefix style="margin-left: 5px; vertical-align: middle;">lock</mat-icon>
      <input matInput type="password" formControlName="password" />
      <button *ngIf="password.value" matSuffix mat-icon-button aria-label="Clear" (click)="password.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="password.hasError('minLength')">
        שדה <strong>חובה</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <button class="submitBtn" mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">
    כניסה
  </button>
</form>