.fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.submitBtn {
  width: 100%;
}
.headerTxt {
  text-align: center;
  display: contents;
}
input{
  text-align: right;
}
mat-form-field{
  display: block;
  text-align: right;
}


