.fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.submitBtn {
  width: 100%;
}
.headerTxt {
  text-align: center;
  display: contents;
}
input{
  text-align: right;
}
mat-form-field{
  display: block;
  text-align: right;
}
form{
  width: 400px;
  height: 800px;
  margin-top: 40px;
  margin-right: 10%;
  text-align: center;
}


